.tile {
  display: flex;
  width: 100%;
  border-radius: 16px;
  border: 1px solid var(--Borders-Color-divider, rgba(255, 255, 255, 0.12));
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  padding: 16px 24px;
}

.tileInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 49%;
  gap: 16px;
}
.tileSec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.tileSec div {
  display: flex;
  align-items: center;
  gap: 8px;
}
.numRank {
  color: #fff;
  text-align: right;
  font-feature-settings: "salt" on;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: 20px; /* 125% */
}
.numP {
  color: #666;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}
.descH3 {
  color: var(--Text-Color-text, #fff);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  line-height: 28px; /* 140% */
}
.nameP {
  color: var(--Main-Color-secondary, #dbfd51);
  font-feature-settings: "salt" on;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: 20px; /* 125% */
}
.tilediv1 {
  width: 10%;
}
.tilediv2 {
  width: 30%;
  border-radius: 20px;
}
.tilediv3 {
  width: 50%;
}
.userImage {
  border-radius: 100px;
}
